# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo
.venv/
venv/
env/
ENV/
*.egg-info/
.eggs/
dist/
build/
*.egg

# PyInstaller
*.manifest
*.spec
!ScreenCast-browser.spec
*.log

# Virtual env
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
Desktop.ini
.DS_Store

# App
*.exe
!build.bat
*.log
archive/

# Env
.env
